{% load static %}<!DOCTYPE html>
{% load materializecss %}
<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel = 'stylesheet' href = '{% static 'css/main.css' %}'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>{% block title %}Pasin Burgeri - Asiakaspalaute{% endblock %}</title>
<style>
</style>
    {% block stylesheet %}{% endblock %}  <!-- HERE -->
  </head>
  <body>
    {% block body %}  <!-- HERE -->
        <div class="container">
          <a href="{% url 'home' %}"> <img src="{% static 'images/burgeri.jpg' %}" width="250" height="250"alt="pasin burgeri"></a>
        </div>
      <div class="container">
        <h1>Anna palautetta</h1>
        <form action="/feedback/" method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Submit">
        </form>
        {% block content %}
        {% endblock %}
        	{% block footer %}

	      <footer>Pasin Burgeri  © 2021</footer>
	      {% endblock footer %}
      </div>
    {% endblock body %}  <!-- AND HERE -->
  </body>
</html>