{% extends 'account/base.html' %}

{% block content %}
{% load static %}
<h1>Tervetuloa</h1> 
<h2>Anna <a href="{% url 'feedback:index' %}">palautetta</a></h2>
{% if user.is_authenticated %}
    <p>Olet kirjautuneena käyttäjänä: {{ user }}</p>
    <p><a href="{% url 'logout' %}">Kirjaudu ulos</a></p>
{% else %}
    <h3>Kirjaudu sisään antaaksesi palautetta</h3>
    <button><a href="{% url 'login' %}">Kirjaudu</a></button>
    <button><a href="{% url 'signup' %}">Luo tili</a></button>
{% endif %}



{% endblock %}
